<div class="form-group">
    <div class="visible-xs-block">
        <label for="makeSelect">Step 1. Select a Make:</label>
        <select class="form-control" id="makeSelect" ng-model="baseVm.selectedMake"
                                                     ng-options="make.name for make in baseVm.carList" ng-disabled="!baseVm.carList.length > 0">
            <option value="">---Please select---</option>
        </select>

        <label for="modelSelect">Step 2. Select a Model:</label>
        <select class="form-control" id="modelSelect" ng-model="baseVm.selectedModel"
                                                      ng-options="model.name for model in baseVm.selectedMake.models" ng-disabled="!baseVm.selectedMake.models.length > 0">
            <option value="">---Please select---</option>
        </select>

        <label for="yearSelect">Step 3. Select a Year:</label>
        <select class="form-control" id="yearSelect" ng-model="baseVm.selectedYear"
                                                     ng-options="year.year for year in baseVm.selectedModel.years | orderBy: '-year'" ng-disabled="!baseVm.selectedModel.years.length > 0">
            <option value="">---Please select---</option>
        </select>
        <button class="btn btn-primary common-search-btn" ng-disabled="!baseVm.selectedYear.year" ng-click="baseVm.routeToResultView()"><i class="fa fa-search" aria-hidden="true"></i> Find a Car </button>
    </div>

    <div class="hidden-xs">
        <label for="makeSelect">Step 1. Select a Make:</label>
        <ui-select ng-model="baseVm.selectedMake" ng-disabled="!baseVm.carList.length > 0" on-select="baseVm.clearSelectedModel();">
            <ui-select-match placeholder="---Please Select---">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="make in (baseVm.carList | filter: $select.search) track by make.id">
                <span ng-bind="make.name"></span>
            </ui-select-choices>
        </ui-select>

        <label for="modelSelect">Step 2. Select a Model:</label>
        <ui-select ng-model="baseVm.selectedModel" ng-disabled="!baseVm.selectedMake.models.length > 0" on-select="baseVm.clearSelectedYear()">
            <ui-select-match placeholder="---Please Select---">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="model in (baseVm.selectedMake.models | filter: $select.search) track by model.id">
                <span ng-bind="model.name"></span>
            </ui-select-choices>
        </ui-select>

        <label for="yearSelect">Step 3. Select a Year:</label>
        <ui-select ng-model="baseVm.selectedYear" ng-disabled="!baseVm.selectedModel.years.length > 0">
            <ui-select-match placeholder="---Please Select---">
                <span ng-bind="$select.selected.year"></span>
            </ui-select-match>
            <ui-select-choices repeat="year in (baseVm.selectedModel.years | orderBy: '-year' | filter: $select.search) track by year.id">
                <span ng-bind="year.year"></span>
            </ui-select-choices>
        </ui-select>
        <button class="btn btn-primary common-search-btn" ng-disabled="!baseVm.selectedYear.year" ng-click="baseVm.routeToResultView()"><i class="fa fa-search" aria-hidden="true"></i> Find a Car </button>
    </div>
</div>
