.nav,
.pagination,
.carousel,
.panel-title a
{
    cursor: pointer;
}

#index-ng-view-container
{
    margin-top: 70px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.view-animate.ng-leave.ng-leave-active,
.view-animate.ng-enter {
    opacity: 0;
}

.view-animate.ng-leave,
.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
}

.common-search-btn
{
    width: 100%;
    margin-top: 15px;
}

.common-full-width-height
{
    width: 100%;
    height: 100%;
}

.common-sm-margin
{
    margin-top: 10px;
}

.common-sm-padding
{
    padding: 5px;
}

.common-fixed
{
    position: fixed;
    z-index: 999;
    top: 70px;
    bottom: 0;
    overflow-y: auto;

    width: 262px;
}

@media screen and (max-width: 1198px)
{
    .common-fixed
    {
        width: 215px !important;
    }
}

@media screen and (max-width: 989px)
{
    .common-fixed
    {
        width: 157px !important;
    }
}

@media screen and (max-width: 767px)
{
    .common-fixed
    {
        width: calc(100vw - 30px) !important;

        background-color: rgba(255, 255, 255, .9);
    }
}

.search-view-background-image
{
    position: absolute;
    z-index: -9999;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.search-view-content-container
{
    position: absolute;
    top: 25%;
    left: 50%;

    width: 80vw;
    max-width: 600px;

    transform: translateY(-50%);
    transform: translateX(-50%);

    color: white;
}

@media screen and (max-width: 767px)
{
    .search-view-content-container
    {
        top: 10%;
    }
}

.search-view-form-container
{
    margin-top: 20px;
    padding: 10px;

    color: black;
    border-radius: 5px;
    background: rgba(255, 255, 255, .7);
}

.result-view-add-btn
{
    width: 100%;
    margin-top: 15px;
}

.result-view-option-color-rectangle
{
    display: inline-block;

    width: 20px;
    height: 10px;
}

.result-view-carousel-img
{
    width: 100%;
}

.result-view-sidebar-button
{
    position: fixed;
    top: 70px;
    right: 20px;
    border-radius: 50%;
    z-index: 1000;
}

.result-view-sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-color: white;
    z-index: 999;
    box-shadow: 1px 1px 5px #888888;
}


.result-view-sidebar.ng-hide {
    transform: translateX(-100%);
}

.result-view-sidebar.ng-hide-add,
.result-view-sidebar.ng-hide-remove {
      transition: all linear 0.2s;
}

.result-view-sidebar-content
{
    margin-top: 70px;
}

.result-view-anchorscoll-contents
{
    margin-top: 10px;
}

.gradeAcolor
{
    background-color: Lime !important;
    border-radius: 5px;
}

.gradeBcolor
{
    background-color: LawnGreen !important;
    border-radius: 5px;
}

.gradeCcolor
{
    background-color: Gold !important;
    border-radius: 5px;
}

.gradeDcolor
{
    background-color: Red !important;
    border-radius: 5px;
}

.gradeFcolor
{
    background-color: DarkRed !important;
    border-radius: 5px;
}

.compare-view-tip-text
{
    font-size: 12px;
    color: #888;
    margin-right: 40px;
}

.compare-view-grid
{
    position: relative;
    width: 100%;
    height: 80vh;
}
