<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.css" rel="stylesheet">
        <!--build:css css/styles.min.css-->
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <!--endbuild-->

        <link rel="shortcut icon" type="image/ico" href="assets/images/favicon.ico"/>
    </head>

    <body ng-app="app" ng-strict-di ng-controller="CarSearchCtrl as baseVm">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container" ng-init="isNavCollapsed = true">
                <div class="navbar-header">
		    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
                    <a class="navbar-brand" href="#/">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>
                </div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
		    <ul class="nav navbar-nav">
			<li ng-class="{'active': baseVm.matchBaseUrl()}"><a href="#/">Home</a></li>
                        <li ng-class="{'active': baseVm.matchResultUrl()}"><a href="#/car/{{baseVm.selectedMake.niceName || 'mercedes-benz'}}/{{baseVm.selectedModel.niceName || 'c-class'}}/{{baseVm.selectedYear.year || 2015}}">Details</a></li>
			<li ng-class="{'active': baseVm.matchCompareUrl()}"><a href="#/car/compare">Comparison Table</a></li>
		    </ul>
		</div>
            </div>
        </nav>

        <div id="index-ng-view-container" class="view-animate" ng-view></div>

        <script src="https://use.fontawesome.com/8672324068.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toarrayfilter/1.0.1/toArrayFilter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.js"></script>

        <!--build:js js/bundle.min.js -->
        <script src="js/app.js"></script>
        <script src="js/route-config.js"></script>
        <script src="js/toastr-config.js"></script>
        <script src="js/controllers/CarSearchCtrl.js"></script>
        <script src="js/controllers/CarResultCtrl.js"></script>
        <script src="js/controllers/CarCompareCtrl.js"></script>
        <script src="js/services/CommonRouteService.js"></script>
        <script src="js/services/CarDataService.js"></script>
        <script src="js/services/CarCompareDataService.js"></script>
        <script src="js/services/GridOptionsService.js"></script>
        <script src="js/directives/attributeSection.js"></script>
        <script src="js/directives/genericFeatureAttributeSection.js"></script>
        <script src="js/directives/carSearchSelect.js"></script>
        <script src="js/directives/setClassWhenAtTop.js"></script>
        <script src="js/filters/ucword.js"></script>
        <script src="js/filters/unit.js"></script>
        <script src="js/filters/notInArray.js"></script>
        <!-- endbuild -->
    </body>
</html>
