<div class="container-fluid">
    <div class="visible-xs-block result-view-sidebar" ng-hide="vm.isSidebarHidden">
        <section class="result-view-sidebar-content common-sm-padding">
            <div>
                <div class="form-group">
                    <div class="visible-xs-block">
                        <label for="makeSelect">Step 1. Select a Make:</label>
                        <select class="form-control" id="makeSelect" ng-model="baseVm.selectedMake" ng-options="make.name for make in baseVm.carList"
                                                                                                    ng-disabled="!baseVm.carList.length > 0">
                            <option value="">---Please select---</option>
                        </select>

                        <label for="modelSelect">Step 2. Select a Model:</label>
                        <select class="form-control" id="modelSelect" ng-model="baseVm.selectedModel" ng-options="model.name for model in baseVm.selectedMake.models"
                                                                                                      ng-disabled="!baseVm.selectedMake.models.length > 0">
                            <option value="">---Please select---</option>
                        </select>

                        <label for="yearSelect">Step 3. Select a Year:</label>
                        <select class="form-control" id="yearSelect" ng-model="baseVm.selectedYear" ng-options="year.year for year in baseVm.selectedModel.years | orderBy: '-year'"
                                                                                                    ng-change="vm.getStyles(baseVm.selectedMake.niceName, baseVm.selectedModel.niceName, baseVm.selectedYear.year)" ng-disabled="!baseVm.selectedModel.years.length > 0">
                            <option value="">---Please select---</option>
                        </select>

                        <label for="styleSelect">Step 4. Select Styles:</label>
                        <select class="form-control" id="styleSelect" ng-model="vm.selectedStyles" ng-options="style.trim for style in (vm.candidateStyles | orderBy: 'name' | filter: $select.search | notInArray:vm.gridOptions.data:'id') track by style.id"
                                                                                                   ng-disabled="!vm.candidateStyles.length > 0" multiple>
                        </select>
                        <button class="btn btn-primary common-search-btn" ng-disabled="!vm.selectedStyles.length > 0" ng-click="vm.addStyles()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <button class="visible-xs-block btn btn-sm btn-primary result-view-sidebar-button" ng-click="vm.isSidebarHidden = !vm.isSidebarHidden">
        <i class="fa fa-chevron-right" aria-hidden="true" ng-show="vm.isSidebarHidden"></i>
        <i class="fa fa-chevron-left" aria-hidden="true" ng-show="!vm.isSidebarHidden"></i>
    </button>

    <section class="compare-view-tip-text">
        *note: You can always use cell header menu to pin any column you like or use table menu to select which columns to be displayed.
    </section>
    <div class="hidden-xs">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <ui-select ng-model="baseVm.selectedMake" ng-disabled="!baseVm.carList.length > 0" on-select="baseVm.clearSelectedModel();">
                        <ui-select-match placeholder="---Please Select---">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="make in (baseVm.carList | filter: $select.search) track by make.id">
                            <span ng-bind="make.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-4">
                    <ui-select ng-model="baseVm.selectedModel" ng-disabled="!baseVm.selectedMake.models.length > 0" on-select="baseVm.clearSelectedYear()">
                        <ui-select-match placeholder="---Please Select---">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="model in (baseVm.selectedMake.models | filter: $select.search) track by model.id">
                            <span ng-bind="model.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-4">
                    <ui-select ng-model="baseVm.selectedYear" ng-disabled="!baseVm.selectedModel.years.length > 0" on-select="vm.getStyles(baseVm.selectedMake.niceName, baseVm.selectedModel.niceName, baseVm.selectedYear.year)">
                        <ui-select-match placeholder="---Please Select---">
                            <span ng-bind="$select.selected.year"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="year in (baseVm.selectedModel.years | orderBy: '-year' | filter: $select.search) track by year.id">
                            <span ng-bind="year.year"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 common-sm-margin">
                    <ui-select multiple ng-model="vm.selectedStyles" ng-disabled="!vm.candidateStyles.length > 0" close-on-select="false" on-select="">
                        <ui-select-match placeholder="---Please Select---">
                            {{$item.trim}}
                        </ui-select-match>
                        <ui-select-choices repeat="style in (vm.candidateStyles | orderBy: 'name' | filter: $select.search | notInArray:vm.gridOptions.data:'id') track by style.id">
                            <span ng-bind="style.trim"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-1 common-sm-margin">
                    <button class="btn btn-primary" ng-disabled="!vm.selectedStyles.length > 0" ng-click="vm.addStyles()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
    <div id="grid1" class="compare-view-grid" ui-grid="vm.gridOptions" ui-grid-resize-columns="true" ui-grid-pinning></div>
</div>
