<div class="container" ng-cloak>
    <div class="visible-xs-block result-view-sidebar" ng-hide="vm.isSidebarHidden">
        <section class="result-view-sidebar-content common-sm-padding">
            <div class="result-view-anchorscoll-contents common-sm-padding">
                <div><strong>Contents</strong></div>
                <div>1. <a href="" ng-click="vm.gotoAnchor('overview')">Overview</a></div>
                <div>2. <a href="" ng-click="vm.gotoAnchor('ratings')">Ratings</a></div>
                <div>3. <a href="" ng-click="vm.gotoAnchor('performance')">Performance</a></div>
                <div>4. <a href="" ng-click="vm.gotoAnchor('exterior')">Exterior</a></div>
                <div>5. <a href="" ng-click="vm.gotoAnchor('interior')">Interior</a></div>
                <div>6. <a href="" ng-click="vm.gotoAnchor('safety-features')">Safety Features</a></div>
                <div>7. <a href="" ng-click="vm.gotoAnchor('options')">Options & Features</a></div>
            </div>

            <form role="search"><car-search-select></car-search-select></form>

            <label for="styleSelect">Select other Style:</label>
            <ui-select ng-model="vm.selectedStyle" on-select="vm.retrieveDetailInfo()" search-enabled="false">
                <ui-select-match>
                    <span ng-bind="$select.selected.trim"></span>
                </ui-select-match>
                <ui-select-choices repeat="style in (vm.carStyles | filter: $select.search) track by style.id">
                    <span><i class="fa fa-plus text-primary" aria-hidden="true" ng-show="!vm.isAlreadyInTable(style.id)"></i></span>
                    <span><i class="fa fa-minus text-danger" aria-hidden="true" ng-show="vm.isAlreadyInTable(style.id)"></i></span>
                    <span ng-bind="style.trim"></span>
                </ui-select-choices>
            </ui-select>
            <button class="btn btn-primary result-view-add-btn" ng-hide="vm.isAlreadyInTable(vm.selectedStyle.id)" ng-click="vm.addCarStyleToTable()"><i class="fa fa-plus" aria-hidden="true"></i> Add to comparison table </button>
            <button class="btn btn-danger result-view-add-btn" ng-show="vm.isAlreadyInTable(vm.selectedStyle.id)" ng-click="vm.removeCarStyleFromTable()"><i class="fa fa-minus" aria-hidden="true"></i> Remove from comparison table </button>
        </section>
    </div>
    <button class="visible-xs-block btn btn-sm btn-primary result-view-sidebar-button" ng-click="vm.isSidebarHidden = !vm.isSidebarHidden">
        <i class="fa fa-chevron-right" aria-hidden="true" ng-show="vm.isSidebarHidden"></i>
        <i class="fa fa-chevron-left" aria-hidden="true" ng-show="!vm.isSidebarHidden"></i>
    </button>

    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <section class="common-fixed">
                <div class="result-view-anchorscoll-contents common-sm-padding">
                    <div><strong>Contents</strong></div>
                    <div>1. <a href="" ng-click="vm.gotoAnchor('overview')">Overview</a></div>
                    <div>2. <a href="" ng-click="vm.gotoAnchor('ratings')">Ratings</a></div>
                    <div>3. <a href="" ng-click="vm.gotoAnchor('performance')">Performance</a></div>
                    <div>4. <a href="" ng-click="vm.gotoAnchor('exterior')">Exterior</a></div>
                    <div>5. <a href="" ng-click="vm.gotoAnchor('interior')">Interior</a></div>
                    <div>6. <a href="" ng-click="vm.gotoAnchor('safety-features')">Safety Features</a></div>
                    <div>7. <a href="" ng-click="vm.gotoAnchor('options')">Options & Features</a></div>
                </div>
                <hr>

                <form role="search"> <car-search-select></car-search-select> </form>
                <hr>

                <label for="styleSelect">Select other Style:</label>
                <ui-select ng-model="vm.selectedStyle" on-select="vm.retrieveDetailInfo()">
                    <ui-select-match>
                        <span ng-bind="$select.selected.trim"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="style in (vm.carStyles | filter: $select.search) track by style.id">
                        <span><i class="fa fa-plus text-primary" aria-hidden="true" ng-show="!vm.isAlreadyInTable(style.id)"></i></span>
                        <span><i class="fa fa-minus text-danger" aria-hidden="true" ng-show="vm.isAlreadyInTable(style.id)"></i></span>
                        <span ng-bind="style.trim"></span>
                    </ui-select-choices>
                </ui-select>
                <button class="btn btn-primary result-view-add-btn" ng-hide="vm.isAlreadyInTable(vm.selectedStyle.id)" ng-click="vm.addCarStyleToTable()"><i class="fa fa-plus" aria-hidden="true"></i> Add to comparison table </button>
                <button class="btn btn-danger result-view-add-btn" ng-show="vm.isAlreadyInTable(vm.selectedStyle.id)" ng-click="vm.removeCarStyleFromTable()"><i class="fa fa-minus" aria-hidden="true"></i> Remove from comparison table </button>
            </section>
        </div>

        <div class="col-sm-9">
            <section>
                <h3> The {{ vm.selectedStyle.year.year }} {{ vm.selectedStyle.make.name }} {{ vm.selectedStyle.model.name }} - {{vm.selectedStyle.name}}</h3>
                <h1> {{ vm.selectedStyle.trim }} </h1>
            </section>

            <section ng-if="vm.selectedStyle.carPhotos.length > 1">
                <div>
                    <div uib-carousel active="vm.carPhotosCarouselSettings.active"
                                      interval="vm.carPhotosCarouselSettings.interval" no-wrap="vm.carPhotosCarouselSettings.noWrapSlides">
                        <div uib-slide ng-repeat="slide in vm.selectedStyle.carPhotos" index="$index">
                            <img class="result-view-carousel-img" ng-src="{{slide.photoSrcs.src}}">
                            <div class="carousel-caption">
                                <h5 class="hidden-xs">{{slide.captionTranscript}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </section>

            <h2 id="anchor-overview" class="common-sm-padding bg-primary"> Overview </h2>
            <div class="common-sm-padding">
                <attribute-section attributes="vm.selectedStyle.attributeGroups.STYLE_INFO"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.GENERATION_INFO"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.SPECIFICATIONS"></attribute-section>
            </div>

            <h2 id="anchor-ratings" class="common-sm-padding bg-primary"> Ratings </h2>
            <div class="common-sm-padding">
                <h3> <strong> Average Grade:
                        <span class="grade{{vm.selectedStyle.ratings.grade}}color common-sm-padding">
                            {{vm.selectedStyle.ratings.grade}}
                        </span>
                    </strong>
                </h3>
                <section ng-if="vm.selectedStyle.ratings" ng-repeat="rating in vm.selectedStyle.ratings.ratings">
                    <h3>{{rating.title}} ratings:</h3>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <!--
                                <tr>
                                <th class="col-xs-3">Overall Grade</th>
                                <td class="col-xs-3 text-center"><span class="grade{{rating.grade}}color common-sm-padding">{{rating.grade}}</span></td>
                                <td class="col-xs-6"></td>
                                </tr>
                                <tr ng-repeat="subRating in rating.subRatings">
                                <th class="col-xs-3">{{subRating.title}}</th>
                                <td class="col-xs-3 text-center"><span class="grade{{subRating.grade}}color common-sm-padding">{{subRating.grade}}</span></td>
                                <td class="col-xs-6">{{subRating.summary}}</td>
                                </tr>
                            -->
                            <tr>
                                <th class="col-xs-6">Overall Grade</th>
                                <td class="col-xs-6">
                                    <span>
                                        <span class="hidden-xs" uib-rating ng-model="rating.score" max="10" read-only="true" aria-labelledby="default-rating"></span>&nbsp;
                                        <span class="grade{{rating.grade}}color common-sm-padding">{{rating.grade}}</span>&nbsp;
                                        <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="{{rating.summary}}" ng-if="rating.summary"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr ng-repeat="subRating in rating.subRatings">
                                <th class="col-xs-6">{{subRating.title}}</th>
                                <td class="col-xs-6">
                                    <span class="hidden-xs" uib-rating ng-model="subRating.score" max="10" read-only="true" aria-labelledby="default-rating"></span>&nbsp;
                                    <span class="grade{{subRating.grade}}color common-sm-padding">{{subRating.grade}}</span>&nbsp;
                                    <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="{{subRating.summary}}" ng-if="subRating.summary"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.CRASH_TEST_RATINGS"></attribute-section>
            </div>

            <h2 id="anchor-performance" class="common-sm-padding bg-primary"> Performance </h2>
            <div class="common-sm-padding">
                <section ng-if="vm.selectedStyle.engine">
                    <h3>Engine</h3>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr> <th class="col-xs-6">Comparession Ratio  </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.compressionRatio }}</td> </tr>
                            <tr> <th class="col-xs-6">Configuration & Size</th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.size | number:1 }} {{ vm.selectedStyle.engine.configuration }} {{ vm.selectedStyle.engine.cylinder }}</td> </tr>
                            <tr> <th class="col-xs-6">Fuel Type           </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.fuelType | ucword }}</td> </tr>
                            <tr> <th class="col-xs-6">Horsepower          </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.horsepower + " hp" }} @ {{ vm.selectedStyle.engine.rpm.horsepower + " rpm" }}</td> </tr>
                            <tr> <th class="col-xs-6">Torque              </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.torque + " ft-lbs" }} @ {{ vm.selectedStyle.engine.rpm.torque + " rpm" }}</td> </tr>
                            <tr> <th class="col-xs-6">Total Valves        </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.totalValves }}</td> </tr>
                            <tr> <th class="col-xs-6">Type                </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.type | ucword }}</td> </tr>
                            <tr> <th class="col-xs-6">Compressor Type     </th> <td class="col-xs-6"> {{ vm.selectedStyle.engine.compressorType | ucword }}</td> </tr>
                        </tbody>
                    </table>
                    <hr>
                </section>

                <section ng-if="vm.selectedStyle.transmission">
                    <h3>Transmission</h3>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr> <th class="col-xs-6">Transmission Type </th> <td class="col-xs-6"> {{ vm.selectedStyle.transmission.transmissionType | ucword }} </td> </tr>
                            <tr> <th class="col-xs-6">Number of Speeds  </th> <td class="col-xs-6"> {{ vm.selectedStyle.transmission.numberOfSpeeds }}            </td> </tr>
                        </tbody>
                    </table>
                    <hr>
                </section>

                <attribute-section attributes="vm.selectedStyle.attributeGroups.TRANSMISSION_FEATURES"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.SUSPENSION"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.BRAKE_SYSTEM"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups['SPARE_TIRE/WHEEL']"></attribute-section>
            </div>

            <h2 id="anchor-exterior" class="common-sm-padding bg-primary"> Exterior </h2>
            <div class="common-sm-padding">
                <attribute-section attributes="vm.selectedStyle.attributeGroups.EXTERIOR_DIMENSIONS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.EXTERIOR_LIGHTS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.MIRRORS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.SUNROOF"></attribute-section>
            </div>

            <h2 id="anchor-interior" class="common-sm-padding bg-primary"> Interior </h2>
            <div class="common-sm-padding">
                <attribute-section attributes="vm.selectedStyle.attributeGroups.INTERIOR_DIMENSIONS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.CARGO_DIMENSIONS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.SEATING_CONFIGURATION"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups['1ST_ROW_SEATS']"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups['2ND_ROW_SEATS']"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.DRIVER_SEAT"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.FRONT_PASSENGER_SEAT"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.STORAGE"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.AIR_CONDITIONING"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.STEERING"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.STEERING_WHEEL"></attribute-section>
            </div>

            <h2 id="anchor-safety-features" class="common-sm-padding bg-primary"> Safety Features </h2>
            <div class="common-sm-padding">
                <attribute-section attributes="vm.selectedStyle.attributeGroups.AIRBAGS"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.COLLISION_SAFETY_SYSTEM"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups['TRACTION/STABILITY_CONTROL']"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.CHILD_SAFETY"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.SECURITY"></attribute-section>
            </div>

            <h2 id="anchor-options"class="common-sm-padding bg-primary"> Options & Features </h2>
            <div class="common-sm-padding">
                <section ng-if="vm.selectedStyle.options">
                    <h3>Options</h3>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr ng-repeat="cat in vm.selectedStyle.options">
                                <th class="col-xs-6">{{ cat.category }}</th>
                                <td class="col-xs-6">
                                    <div ng-repeat="opt in cat.options">
                                        {{ opt.name }} <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="{{opt.description}}" ng-if="opt.description"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </section>

                <section ng-if="vm.selectedStyle.colors">
                    <h3>Colors</h3>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr ng-repeat="category in vm.selectedStyle.colors">
                                <th class="col-xs-6"> {{ category.category }} </th>
                                <td class="col-xs-6">
                                    <div class="row">
                                        <div class="col-sm-6" ng-repeat="color in category.options">
                                            {{ color.name }}
                                            <span class="result-view-option-color-rectangle" ng-style="{'background-color': 'rgb(' + color.colorChips.primary.r + ',' + color.colorChips.primary.g + ',' + color.colorChips.primary.b +')'}"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </section>

                <generic-feature-attribute-section attributes="vm.selectedStyle.attributeGroups.CONSUMER_GENERIC_FEATURE"></generic-feature-attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.INSTRUMENTATION"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.MOBILE_CONNECTIVITY"></attribute-section>
                <attribute-section attributes="vm.selectedStyle.attributeGroups.POWER_OUTLETS"></attribute-section>
            </div>
        </div>
    </div>
</div>
