<div class="search-view-background-image"></div>
<div class="text-center search-view-content-container">
    <h1>The Place Where Helps You to Find Your Perfect Car</h1>
    <div class="search-view-form-container">
        <car-search-select></car-search-select>
    </div>
</div>
